* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #000;
}

header h1 {
  color: #fff;
}

nav a {
  color: #ccc;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

/* BANNER */
.banner {
  padding: 80px 20px;
  background: #1a1a1a;
}

.banner h2 {
  font-size: 32px;
}

/* PRODUTOS */
.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.produto {
  background: #1a1a1a;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.produto h3 {
  margin-top: 10px;
}

/* SOBRE */
.sobre-marca {
  padding: 40px;
}

.sobre-marca h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.sobre-marca ul {
  list-style: none;
}

.sobre-marca li {
  margin: 10px 0;
}

/* CONTATO */
.compre-agora {
  padding: 40px;
}

.compre-agora h2 {
  font-size: 42px;
  margin-bottom: 30px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.redes a {
  background: #fff;
  padding: 18px 28px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.redes a img {
  width: 32px;
}

.redes a span {
  color: #111;
  font-weight: bold;
}

/* CATÁLOGO */
.catalogo {
  padding: 40px;
}

.catalogo h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  padding: 20px;
  background: #000;
}

/* MOBILE */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 10px;
  }

  .produtos {
    flex-direction: column;
    align-items: center;
  }

  .produto {
    width: 90%;
  }

  .redes {
    flex-direction: column;
  }

  .redes a {
    width: 90%;
    justify-content: center;
  }
}
.imagens-home {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.imagens-home img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.imagens-home img:hover {
  transform: scale(1.05);
}
.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.produto {
  background: #1a1a1a;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.produto a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}
.preco {
  margin: 8px 0;
  font-size: 18px;
  font-weight: bold;
  color: #00ff88;
}